
:host {
    --SIZE: 40px;
}
.avatar {
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 11pt;
    background-color: var(--COLOR-CURRENT-USER);
    color: white;
    min-width: var(--SIZE);
    width: var(--SIZE);
    height: var(--SIZE);
}