@font-face {
    font-family: "roboto-regular";
    font-style: normal;
	font-weight: 500;
    src: url('../fonts/Roboto-Regular.ttf') format('truetype');
}
@font-face {
    font-family: "roboto-medium";
    font-style: normal;
	font-weight: 700;
    src: url('../fonts/Roboto-Medium.ttf') format('truetype');
}
@font-face {
    font-family: "roboto-bold";
    font-style: normal;
	font-weight: 400;
    src: url('../fonts/Roboto-Bold.ttf') format('truetype');
}
@font-face {
    font-family: "roboto-light";
    font-style: normal;
	font-weight: 400;
    src: url('../fonts/Roboto-Light.ttf') format('truetype');
}
@font-face {
    font-family: "roboto-thin";
    font-style: normal;
	font-weight: 400;
    src: url('../fonts/Roboto-Thin.ttf') format('truetype');
}