/*****************************
TITLES
*****************************/
@mixin title($color:$COLOR-FG) {
    color: $color;
    font-size: 14pt;
    font-weight: 600;
    font-family: Calibrib;
}

@mixin sub-title($color:$COLOR-FG) {
    color: $color;
    font-size: 13pt;
    font-weight: 600;
    font-family: Calibrib;
}

@mixin normal-text($color:$COLOR-FG) {
    color: $color;
    font-size: 12pt;
    font-weight: 500;
    font-family: Calibrib;
}

/*****************************
SCROLLBAR
*****************************/
@mixin scrollbar() {

    /* width */
    &::-webkit-scrollbar {
        width: 7px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
        background: $COLOR-BG;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
        border-radius: 5px;
        background: $COLOR-BG-LIGHT;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }
}

/*****************************
EFFECTS
*****************************/
@mixin ripple($color: rgba(#fff, .2)) {
    position: relative;
    overflow: hidden;
  
    &::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      width: 5px;
      height: 5px;
      background: $color;
      opacity: 0;
      border-radius: 100%;
      transform: scale(1, 1) translate(-50%);
      transform-origin: 50% 50%;
      transition: .3s;
    }
  
    &:focus::after {
      animation: ripple .7s ease-out;
    }
  }
  
  @keyframes ripple {
    0% {
      transform: scale(0, 0);
      opacity: 1;
    }
    20% {
      transform: scale(25, 25);
      opacity: 1;
    }
    100% {
      opacity: 0;
      transform: scale(40, 40);
    }
  }