@import '../styles/mixins';

ion-menu {
    height: 100%;
    width: 100%;

    app-sidebar-header {
        display: block;
        background: var(--ALGOTECH-BACKGROUND-HOVER);
        padding: 10px;
        color: #384258
    }

    app-sidebar-content {
        display: block;
        background: var(--ALGOTECH-BACKGROUND-CONTENT);
        height: calc(100% - 64px);
        
        @include scrollbar-hidden();
    }
}