.filter {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 40px;
    .icon {
        color: #FFF;
    }
}

ion-content {
    --background: var(--ALGOTECH-BACKGROUND-CONTENT);
}